.search-item:hover .search-item-info{
    background: rgba(0, 0, 0, 0.5);
    transform: scale(1);
    
}

.search-item-info {
    position: absolute;
    display: inline-block;
    color: #ffffff;
    width: 240px;
    height: 330px;
    background: rgba(0, 0, 0, 0);
    transform: scale(0);
}

.search-item img {
    width: 240px;
    height: 330px;
}

.search-item-title {
    display: inline-block;
    font-weight: bold;
    width: 240px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.search-item-year {
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
}

.search-movie-title {
    color: rgba(0, 0, 0, 0.87);
}